[submodule "pack/theodored/start/auto-pairs"]
    path = pack/theodored/start/auto-pairs
    url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/theodored/start/coc.nvim"]
    path = pack/theodored/start/coc.nvim
    url = https://github.com/neoclide/coc.nvim
[submodule "pack/theodored/start/nerdtree"]
    path = pack/theodored/start/nerdtree
    url = https://github.com/preservim/nerdtree
[submodule "pack/theodored/start/vim-fugitive"]
    path = pack/theodored/start/vim-fugitive
    url = https://github.com/tpope/vim-fugitive
[submodule "pack/theodored/start/fzf"]
    path = pack/theodored/start/fzf
    url = https://github.com/junegunn/fzf.git
[submodule "pack/theodored/start/fzf.vim"]
    path = pack/theodored/start/fzf.vim
    url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/theodored/start/vim-surround"]
    path = pack/theodored/start/vim-surround
    url = https://github.com/tpope/vim-surround.git
[submodule "pack/theodored/start/gitlink-vim"]
    path = pack/theodored/start/gitlink-vim
    url = https://github.com/iautom8things/gitlink-vim.git
[submodule "pack/theodored/start/codedark"]
	path = pack/theodored/start/codedark
	url = https://github.com/tjmgregory/vim-code-dark
[submodule "pack/theodored/start/vim-commentary"]
	path = pack/theodored/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/theodored/start/vim-tmux-navigator"]
	path = pack/theodored/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "pack/theodored/start/vim-prisma"]
	path = pack/theodored/start/vim-prisma
	url = https://github.com/pantharshit00/vim-prisma
[submodule "pack/theodored/start/vim-polyglot"]
	path = pack/theodored/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/theodored/start/vim-closetag"]
	path = pack/theodored/start/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule "pack/theodored/start/vim-styled-components"]
	path = pack/theodored/start/vim-styled-components
	url = https://github.com/styled-components/vim-styled-components
